<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/gui/common/layout/basis.xhtml">

    <ui:define name="inhalt">

        <f:loadBundle var="msg_error" basename="resources.nachrichten.plisweb_fehler"></f:loadBundle>

        <div class="alert alert-warning" role="alert">
            <span>
                <span class="icon icon-placeholder"/>
                <strong>#{msg_error.PLWEB00108}</strong>
                <span>#{msg_error.PLWEB00109}<a href="..">#{msg_error.PLWEB00111}</a>.</span>
            </span>
        </div>

    </ui:define>

</ui:composition>
